html{
    font-size: 10px;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.table__head {
    background-color: #b09999;
    color: #fff;
}

.table__head th {
    padding: 1.5rem;
}

.table__row:nth-child(even) {
    background-color: #f8e8e8;
}

.table__row:hover {
    background-color: #e5d5d5;
}

.table__row td {
    padding: 1rem;
}

.search{
    border: .2rem solid #b09999;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 20rem;
    width: 100%;
}

.m-10{
    margin: 2rem 1rem 1rem 1rem;
}

#loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: circle 2s infinite;
}

@keyframes circle {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}